body {
  font-family: "Montserrat", sans-serif;
  background-color: #1b1e22;
  color: white;
}

.backgound-wrapper {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.03) 2.5%,
      rgba(27, 30, 34, 0.4) 42.42%,
      #1b1e22 80.67%
    ),
    url(../img/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.row {
  justify-content: space-between;
}

header .row {
  margin-bottom: 80px;
}

h1 {
  margin-bottom: 26px;
}

h2 {
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.logo {
  display: inline-block;
  margin-top: 41px;
}

.lang {
  padding-top: 57px;
  display: flex;
  justify-content: space-evenly;
}

.lang .eng,
.lang .rus {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.lang .rus {
  color: #ffffff;
}

.lang .eng {
  color: rgba(196, 196, 196, 0.5);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav a {
  display: inline-block;
  margin-top: 54px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.help {
  padding: 12px 34px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffb800;
  border-radius: 5px;
  background: transparent;
}

.section1 {
  min-height: 565px;
  height: 100%;
}

.section1 .row {
  align-items: center;
}

.section1 .content1 {
  width: 68%;
  display: flex;
  flex-direction: column;
}

.section1 .content2 {
  padding: 50px 70px 55px 70px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  border-radius: 10px;
}

.tour-search {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.form-control,
.form-select {
  background-color: rgba(51, 51, 51, 0.25);
}

.form-control:focus {
  background-color: rgba(51, 51, 51, 0.25);
  outline: none;
  box-shadow: none;
}

.form-control::placeholder,
.form-select::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.kuda {
  background: url(../img/search.png) no-repeat;
  background-position: 98%;
}

.form-select {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.button-search {
  display: flex;
  align-content: stretch;
  flex-direction: column;
}

.btn-primary {
  background-color: #ffb800;
  border: #ffb800;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.btn-primary:hover {
  background-color: #ffb800;
  color: #333333;
}

.padding-wrapper {
  padding: 20px 20px 0 20px;
}

.section2 .row {
  margin-top: 24px;
}

.section2 .col-4 {
  position: relative;
  padding: 0;
  width: 30%;
  margin-bottom: 24px;
  background: #23282f;
  border-radius: 4px;
  min-height: 433px;
  height: 100%;
}

.section2 .col-4:hover {
  transform: scale(1.05);
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.section2 img {
  width: 100%;
  max-height: 216px;
  height: 100%;
}

.section2 p {
  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.button-all-wrapper {
  display: flex;
  justify-content: center;
  margin: 24px 0 75px 0;
}

.all {
  padding: 14px 38px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffb800;
  border-radius: 5px;
  background-color: #1b1e22;
}

.more {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translate(22px, -20px);
  display: inline-block;
  text-decoration: none;
  vertical-align: bottom;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.more:hover {
  color: #000000;
  opacity: 0.5;
}

.sticker {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translate(0, 150px);
}

.price {
  width: 78px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: #ffb800;
}

.price .preposition {
  font-weight: 500;
  font-size: 13px;
  color: #1b1e22;
}

.price .money {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #1b1e22;
}

.date {
  width: 171px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 0 10px 10px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 32px;
  vertical-align: baseline;
  text-align: center;
  color: #ffffff;
}

.section3 {
  padding: 62px 0 68px 0;
  background-image: url(../img/background2-black.png),
    url(../img/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.section3 p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.section3 p.number {
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 78px;
  line-height: 58px;
  text-align: center;
  color: #ffb800;
}

.section1-1 img {
  display: inline-block;
  margin-bottom: 17px;
}

.section1-1 .row {
  padding: 44px 0 58px 0;
}

.section1-1 .col-3 {
  width: 23%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.section4 {
  padding-top: 62px;
}

.section4 .row {
  margin-top: 44px;
}

.section4 .col-3 {
  background: #23282f;
  width: 24%;
}

.section4 img {
  width: 100%;
  max-height: 216px;
  height: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.5);
}

.text-wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 222px;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.section4 h3 {
  margin: 20px 0 14px 0;
}

.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 51px;
  min-height: 480px;
  height: 100%;
  background-image: url(../img/background3-black.png),
    url(../img/background3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.places h2 {
  margin-bottom: 20px;
}

.button-all-wrapper-yellow {
  display: flex;
  justify-content: center;
  margin: 38px 0 62px 0;
}

.all-yellow {
  padding: 14px 38px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border-radius: 5px;
  background-color: #ffb800;
}

.slide {
  margin-top: 47px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/quote.png);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.quote p {
  font-size: 24px;
}

.yellow-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffb800;
}

.circles {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.fa-circle {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.fa-circle:last-child {
  color: #fff;
}

footer {
  padding: 70px 0 30px 0;
}

footer .row {
  max-height: 60px;
  height: 100%;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  align-items: center;
  text-align: right;
  color: #ffb800;
}

footer a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}

footer .social-networks {
  width: 147px;
  display: flex;
  justify-content: space-between;
}

footer .col-4 .col-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.network-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
